@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;400;700&display=swap');

:root {
    --fuentePrincipal: "Lato", sans-serif;
    --weightFina: 100;
    --weightNormal: 400;
    --weightBold: 700; 
}

body {
    color: green;
    font-family: var(--fuentePrincipal);
    display: flex;
    justify-content: center;
}
section {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
}
ul li {
    font-family: var(--weightFina);
    font-size: 25px;
    list-style-type: square;
    list-style-position: outside;
    color: green;
    animation: animacion 1s ease-in;

}
button {
    font-family: var(--fuentePrincipal);
    font-weight: var(--weightNormal);
    width: 140px;
    height: 60px;
    border-radius: 15px;
    box-shadow: 6px 6px 3px 2px gray;
}

button:hover {
    cursor: pointer;
}

@keyframes animacion {
    0% { color: red; font-size: 60px;}
    /* 50% { opacity: 0;} */
   100% { color: green; font-size: 25px;}
}